<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/navbar.css" rel="stylesheet" />
        <link href="~/css/footer.css" rel="stylesheet" />
        <title>Cine Book</title>
    </head>
    <body>
        <nav class="sm-navbar">
            <div class="sm-logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo/logo_app.png" alt="img_logo" width="200"/>
                </a>
            </div>
            <ul class="sm-nav-menu">
                <li><a asp-controller="Home" asp-action="Index" class="nav-links">Home</a></li>
                <li><a asp-controller="Home" asp-action="IndexPrueba" class="nav-links">IndexPrueba</a></li>
                <li><a asp-controller="Home" asp-action="Prueba" class="nav-links">Prueba</a></li>
                <li><a href="#" class="nav-links">Login</a></li>
            </ul>
        </nav>
        <div class="contenedor-principal">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="footer border-top mt-auto py-3">
            <div class="container text-center">
                <span class="text-muted">&copy; 2024 - CineBook - Ferrán Aguilar</span>
            </div>
        </footer>
        <script src="~/js/jquery-3.7.1.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        @RenderSection("scripts", false)
    </body>
</html>