<div class="container">
    <ul>
        <li>
            <a asp-controller="Home" asp-action="PerfilUsuarioPrueba"
               asp-route-idUsuario="2">
                Perfil 
            </a>
        </li>
        <li>
            <a asp-controller="Usuarios" asp-action="PerfilUsuarioPrueba" asp-route-idUsuario="3">
                Otro Perfil
            </a>
        </li>
    </ul>
</div>