@{
    List<TipoMedio> tiposmedio = ViewData["tiposmedio"] as List<TipoMedio>;
    List<Genero> generos = ViewData["generos"] as List<Genero>;
}

<div class="container">
    <form method="post">
        <div class="d-flex gap-2">
            <div class="col-6">
                <label>Selecciona tipo de medio</label>
                <select name="tipomedioid" class="form-control">
                    @foreach(TipoMedio tipomedio in tiposmedio)
                    {
                        <option value="@tipomedio.TipoMedioId">
                            @tipomedio.Nombre
                        </option>
                    }
                </select>
                <label>Título: </label>
                <input type="text" name="titulo" class="form-control" />
                <label>Director: </label>
                <input type="text" name="director" class="form-control" />
                <label>Año de Estreno: </label>
                <input type="number" name="anioestreno" placeholder="Ej: 2009" class="form-control" />
                <label>Clasifiación: </label>
                <input type="text" name="clasificacionedad" class="form-control" />
                <label>Sinopsis: </label>
                <input type="text" name="sinopsis" class="form-control" />
            </div>
            <div class="col-6">
                <label>Duración minutos: </label>
                <input type="number" name="titulo" placeholder="Si es serie, pónlo como 0" class="form-control" />
                <label>Puntuación media: </label>
                <input type="number" name="puntuacionmedia" class="form-control" />
                <label>Estado: </label>
                <input type="text" name="estado" class="form-control" />
                <label>Imagen: </label>
                <input type="text" name="imagen" placeholder="imagen.jpg" class="form-control" />
                <label>Selecciona un género: </label>
                <select name="generoid" class="form-control">
                    @foreach(Genero gen in generos)
                    {
                        <option value="@gen.GeneroId">
                            @gen.NombreGenero
                        </option>
                    }
                </select>
            </div>
        </div>
        <br />
        <button class="btn btn-primary">
            Insertar Medio
        </button>
    </form>
</div>