@model List<Pelicula>

<div class="container">
    <h1>Buscador Peliculas</h1>
    <form method="post">
        <input type="text" name="titulo" class="form-contro" />
        <br />
        <button class="btn btn-primary">
            Buscar
        </button>
    </form>
    <br />
    @if(Model != null)
    {
        <ul class="list-group">
            @foreach(Pelicula peli in Model)
            {
                <li class="list-group-item">
                    @peli.Titulo, Director: @peli.Director
                </li>
            }
        </ul>
    }
    else
    {
        <ul class="list-group">
            @foreach (Pelicula peli in Model)
            {
                <li class="list-group-item">
                    @peli.Titulo, Director: @peli.Director
                </li>
            }
        </ul>
    }
</div>