.details-pelicula {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.info-pelicula{
    display: flex;
    flex-direction: column;
}

.info-pelicula section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.titulo-pelicula .titulo {
    font-weight: bold;
    margin: 1.5rem 1.5rem 1.5rem 0;
}

.titulo-pelicula .duracion-anio {
    margin: 1.5rem 1.5rem 1.5rem 0;
}

.img-pelicula .img-peli {
    width: 20rem;
    border-radius: 1rem;
}

#play-icon {
    font-size: 3rem;
    color: #8D99AE;
    cursor: pointer;
    transition: .5s;
}

#play-icon:hover {
    transform: scale(1.1);
    color: #EDF2F4;
}

#stat-icon{
    font-size: 1.3rem;
}

#plus-icon {
    font-size: 3rem;
    color: #8D99AE;
    cursor: pointer;
    transition: .5s;
    margin-left: 1.3rem;
}

#plus-icon:hover{
    transform: scale(1.1);
    color: #EDF2F4;
}

.reparto-actores{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.card-actor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-actor{
    margin-bottom: 1rem;
}

#img-actor {
    width: 10rem;
    height: 15rem;
    border-radius: .5rem;
    object-fit: cover;
}

#linkwiki {
    color: #EDF2F4;
}

.reparto-comentarios{
    margin-top: 2rem;
}

.comentarios-pelicula {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.comentario-peli {
    border: 1px solid #8D99AE;
    padding: 10px;
}

    
    .comentario-peli:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    
    .comentario-peli:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

.header-comentario {
    display: flex;
    align-items: center;
    margin-bottom: 5px; 
}

    .header-comentario i {
        margin-right: 5px;
    }

    .header-comentario span{
        margin-right: 1rem;
    }

.texto-comentario {
    margin-left: 20px;
}

.header-comentario:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header-comentario:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-create-comentario {
    color: #8D99AE;
    transition: .3s;
    border: 2px solid #8D99AE;
    padding: .5rem;
}

    .btn-create-comentario:hover {
        color: #EDF2F4;
        border: 2px solid #EDF2F4;
        border-radius: 10px;
    }
