.horizontal-card-home{
    display: flex;
    gap: 1rem;
    margin: 3rem 0 3rem 0;
}

#link-pelicula-random {
    text-decoration: none;
    color: #EDF2F4;
    width: fit-content;
}

.pelicula-random {
    height: 25rem;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    flex: 2;
    padding: 2rem;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
}

.info-pelicula-random {
    width: fit-content;
    z-index: 1;
    padding: 2rem;
    z-index: -1;
    background-color: rgba(43, 45, 66, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
}

.stats-pelicula-random{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.stats-pelicula-random .item-pelicula-random{
    list-style: none;
    font-size: 1.1rem;
}

.animacion {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#fraseAnimada {
    overflow: hidden;
    white-space: nowrap;
    border-right: .08em solid #EF233C; /* Simula el cursor de escritura */
    animation: escribir 3.5s steps(40, end) forwards;
}

@keyframes escribir {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.series-populares{
    margin: 3rem 0 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
    row-gap: 2rem;
    flex-wrap: wrap;
}

.card-serie-popular{
    transition: .5s;
}

    .card-serie-popular:hover {
        transform: scale(1.05);
    }

.img-serie-popular img{
    width: 18rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
}

.peliculas-populares{
    margin-top: 3rem;
}

.titulo-serie-popular{
    margin-top: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.titulo-serie-popular .titulo .link-serie-popu {
    color: #EDF2F4;
}

.titulo-serie-popular .titulo .link-serie-popu:hover {
    color: #8D99AE;
    transition: .1s;
}

#star{
    width: 1rem;
    height: 1rem;
}

/*----------------------------------------------*/

.peliculas-populares {
    margin: 3rem 0 3rem 0;
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

    .peliculas-populares::-webkit-scrollbar {
        width: 12px; /* Ancho de la barra de desplazamiento */
        height: 12px; /* Altura de la barra de desplazamiento */
    }

    /* Estilos para el agarre de la barra de desplazamiento en navegadores webkit */
    .peliculas-populares::-webkit-scrollbar-thumb {
        background-color: #888; /* Color del agarre */
        border-radius: 6px; /* Borde redondeado */
    }

.card-pelicula-popular {
    transition: .5s;
}

.img-pelicula-popular img {
    width: 18rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
}

.titulo-pelicula-popular {
    margin-top: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-pelicula-popular .titulo .link-pelicula-popu {
    color: #EDF2F4;
    transition: .1s;
}

.titulo-pelicula-popular .titulo .link-pelicula-popu:hover {
    color: #8D99AE;
}

