@model List<Actor>
<div class="container">
    <h1>Actores</h1>
    <br />
    <div class="d-flex gap-5 flex-wrap">
        @foreach (Actor actor in Model)
        {
            <div class="card bg-light" style="width: 18rem;">
                <img src="~/images/actores/@actor.Imagen" class="card-img-top" alt="@actor.Imagen">
                <div class="card-body">
                    <h5 class="card-title text-uppercase fw-semibold">@actor.Nombre</h5>
                    <p class="card-text">Nacimiento: <b class="fs-5">@actor.FechaNacimiento.ToShortDateString()</b></p>
                    <p class="card-text">País: @actor.Pais</p>
                    <button class="btn btn-primary">
                        Details
                    </button>
                </div>
            </div>
        }
    </div>
</div>
