@{
    var usuario = Context.User;
}

<div class="container">
    <ul>
        <li>
            <a asp-controller="Usuarios" asp-action="PerfilUsuario"
                asp-route-idUsuario="@usuario.FindFirst(ClaimTypes.NameIdentifier).Value">
                Perfil @usuario.FindFirst(ClaimTypes.Name).Value
            </a>
        </li>
    </ul>
</div>